body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.mt-5 {
  margin-bottom: 25px;
}

.age {
  margin-bottom: 4px;
}

.btn {
  color: #333;
  width: 100%;
  margin-top: 10px;
}

img {
  max-width: 100%;
  height: auto;
}